<!DOCTYPE html>
<html>
	<head>
  		<title>TravelThots</title>
		<%= stylesheet_link_tag 'pages' , media: 'all', 'data-turbolinks-track' => true %>
		<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Asap' rel='stylesheet' type='text/css'>
	</head>
<body>
	
	<div class = "homecontainer">
		<div class = "hometext">
			<h2>Welcome to</h2>
			<h1>TravelThots</h1>
		</div>
	</div>
	<div class = "infocontainer">
		<h1>How it works:</h1>
		<ol class = "infolist">
			<li>Sign up</li>
			<li>Add a TravelThot</li>
			<li>Start following friends</li>
			<li>Share TravelThots</li>
		</ol>
	</div>
</body>
</html>