<!DOCTYPE html>
<html>
	<head>
  		<title>TravelThots</title>
  		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<%= stylesheet_link_tag 'pages' , media: 'all', 'data-turbolinks-track' => true %>
		<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Asap' rel='stylesheet' type='text/css'>
	</head>
<body>
	
	<div class = "homecontainer">
		<div class = "hometext">
			<h2>Welcome to</h2>
			<h1>TravelThots</h1>
			<div class = "buttons">
			<%= link_to 'Log In', new_user_session_path, class: 'btn' %>
			<%= link_to 'Sign Up', new_user_registration_path, class: 'btn' %>
		</div>
		</div>

	</div>
	<div class = "infocontainer">
		<h1>How it works:</h1>
		<div class = "col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
			<ol class = "infolist">
				<li>Sign up</li>
				<li>Add a TravelThot</li>
				<li>Start following friends</li>
				<li>Share TravelThots</li>
			</ol>
		</div>
	</div>
</body>
</html>