.places {
	color: white;
	border: 1px solid white;
	margin-bottom: 5%;
	padding: 5%;
	text-align: center;
}
.places h1 {
	font-size: 300%;
}
.places a {
	text-decoration: none;
	color: white;
}
.clear {
	clear: both;
}
body {
	background: #7278DD;
	font-family: 'Asap', sans-serif;
	color: white;
}

.nav.navbar-nav li a {
    color: white;
}

.navbar-transparent .navbar-header .navbar-brand {
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 300%;
}
.navbar-toggle span.icon-bar {
	background-color: white;
}

.pagination {
	display: block;
}

ul.pagination li a {
	background: white;
	border: 1px solid white;
	color: #7278DD;
}
ul.pagination li.disabled a {
	background: white;
	border: 1px solid white;
	color: #7278DD;
}
ul.pagination li.active a {
	background: #7278DD;
	color: white;
	border: #7278DD;
}
.formbox a{
	background: #7278DD;
	color: white;
	text-decoration: none;
}

.formbox a h1{
	text-align: center;
	font-family: 'Lobster', cursive;

}

.formbox input.btn.btn-primary {
	background: purple;
}

.field_with_errors {
	color: #EBEBEB;
	background-color: #F45B69;
	border-radius: 3px;
	padding: 8px;
}
.maps {
	height: 300px;
	width: 100%;
	margin: 0 auto;
}
.icons img {
	height: 25px;
	width: 25px;
}
.comments {
	margin-top: 5%;
	text-align: center;
}
.commentsline {
	text-align: left;
	margin-bottom: 5%;
	padding: 2%;
}