.places {
	color: white;
	border: 1px solid white;
	margin-bottom: 5%;
	padding: 5%;
}
.places h1 {
	font-size: 300%;
}

body {
	background: #7278DD;
	font-family: 'Asap', sans-serif;
	color: white;
}

.nav.navbar-nav li a {
    color: white;
}

.navbar-transparent .navbar-header .navbar-brand {
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 300%;
}
.navbar-toggle span.icon-bar {
	background-color: white;
}