// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

$blue:#009688;
$yellowgreen:#ffc107;
body {
	width: 100%;
	height: 100%;
	background: $blue;
}
h1 {
	font-family: "Lobster", cursive;
}
h2, li{
	font-family: "Asap", sans-serif;
}
.homecontainer {
	background-image: image-url('cliff.jpeg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	margin: 0;
	color: white;
	text-align: center;
	padding: 0;
	width: 100%;
	height: 700px;
}
.hometext {
	padding-top: 60%;

}
.homecontainer h1 {
	font-size: 400%;
	margin: 0;
}
.homecontainer h2 {
	font-size: 200%;
	font-weight: lighter;
	margin: 0;
}

.infocontainer {
	text-align: center;
	color: white;
}

.infocontainer h1 {
	font-size: 300%;
}
.infocontainer li {
	font-size: 200%;
}
.infolist {
	margin-left: 0;
	padding-right: 0;
	list-style-type: none;
	text-align: left;
}
.infolist li {
	counter-increment: step-counter;
}
.infolist li::before {
	content: counter(step-counter);
    font-size: 150%;
    background-color: $yellowgreen;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: white;
    margin-right: 10px;
    padding: 10px;
}
.btn {
	border: 1px white solid;
	color: white;
	text-decoration: none;
	margin-top: 5%;
}
.btn:hover {
	color: white;
	text-transform: uppercase;
}

@media all and (min-width: 800px) { 
	.homecontainer h1 {
		font-size: 700%;
	}
	.homecontainer h2 {
		font-size: 400%;
	}
	.homecontainer {
		background-image: image-url('landscape.jpg');
		height: 100%;
	}
	.hometext {
		padding: 20%;
	}
	.infocontainer h1 {
	font-size: 400%;
}
.infocontainer li {
	font-size: 300%;
}
 }
