// Place all the styles related to the places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.formbox {
	background: #7278DD;
	color: white;
}

.formbox h1 {
	text-align: center;
	font-family: 'Lobster', cursive;
}

.formbox input.btn.btn-primary {
	background: purple;
}

a h1 h2 {
	text-decoration: none;
	color: white;
}
.placebox {
	background: #7278DD;
	color: white;
	text-align: center;
	text-decoration: none;
}
